$fontRegular: "BiennaleRegular";
$fontBold: "BiennaleBold";
$fontLight: "BiennaleLight";


$primaryColor: #25CBD3;
$primaryColorWithOpacity: #25CBD31F;
$primaryColor3: #3BD42D;
$primaryColor4: #f0f5ff;
$primaryColor5: #A7FAE9;


$greyColor: #7c7786;
$greyColor1: #4D4c4D;
$greyColor3: #7c7786;
$greyColor4: #DADADA;
$greyColor5: #333333;
$greyColor1Opacity: #333333bf;

$error: #d44231;
$muted: #ff3029;
$desktopBreakPoint: 992px;

