$fontRegular: "BiennaleRegular";
$fontBold: "BiennaleBold";
$fontLight: "BiennaleLight";


$primaryColor: #25CBD3;
$primaryColorWithOpacity: #25CBD31F;
$primaryColor3: #3BD42D;
$primaryColor4: #f0f5ff;


$greyColor: #7c7786;
$greyColor1: #4D4c4D;
$greyColor3: #7c7786;
$greyColor4: #DADADA;

$error: #d44231;
$desktopBreakPoint: 992px;

