@import "./configs.scss";

.container-header {
        display: flex;
        width: 100%;
        background-color: rgb(255, 255, 255);
        align-items:center ;
        justify-content: center;
        padding: 12px;
        border-bottom: 0.5 solid $greyColor4;

        .logo {
            width: 45%;
        }
        .navigation {
            display: none;
        }
        @media screen and (min-width: $desktopBreakPoint) {
            
            justify-content:space-between;
            padding: 26px 0;
            .logo {
                width: 20%;
                margin-left: 4%;
            }


            .navigation {
                display: flex;
                margin-right: 4%;
                align-items: center;
                justify-content: center;

                ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 10px 0 ;
                    padding: 0;

                    li {
                        cursor: pointer;
                        list-style: none;
                        
                        .iconeNav {
                           margin-right: 30px;
                            
                        }
                        .mini {
                            width: 35px;
                            height: 35px;
                            border-color: $greyColor1;
                            &.selected {
                                border-color: $primaryColor;
                            }

                            img {
                                width: 30px;
                                height: 30px;
                            }

                        }
                    }
                }

            }
        }
}