@import "../style/configs.scss";

.container-ObjectPicker {
    display: flex;
    flex-direction: column;
    width: 94%; 
    margin-left: 10px;
    margin-top: 16px 0 ;
    padding-bottom: 16px;
    border: 0.5 solid $greyColor4;
    .action {
        display: flex;
        align-items: center;
        cursor: pointer;

        img, span {
            margin-right: 8px;
        }
    }

    .objects  {
        display: flex;
        flex-wrap: wrap;
        margin-top: 19px 0 ;
        justify-content: space-between;

        div {
            background-color: $primaryColor4;
            cursor: pointer;
            width: 31%;
            height: 104px;
            margin: 6px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;
            position: relative;

            &:hover {
                border-color: $greyColor4;

                .add { 
                        display: block;
                }
            }

            &.selected {
                border-color: $primaryColor;
            }

                .object {
                    height: 80%;
                    object-fit: contain;

                    &.large {
                        width: 90%;
                        object-fit: fill;

                    }
                }
                .add { 
                    display: none;
                    position: absolute;
                    align-self: cemter;
                    justify-content: center;

            }
            
        }
    }
}